{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main>
  <div class="container py-5">
      <article>
        <ul>
          <li>
            Место: {{ posts.location }}
          </li>
          <li>
            Дата: {{ posts.date }}
          </li>
          <li>
            Категория: <a href="{% url 'blog:category_posts' category_slug=posts.category %}">{{ posts.category }}</a>
          </li>
        </ul>
        <p>
          {{ posts.text }}
        </p>
      </article>
  </div>
</main>
{% endblock %}
